{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.serviceAccount.name }}
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
  annotations:
    {{- if and .Values.serviceAccount.gcpServiceAccount .Values.projectId }}
    iam.gke.io/gcp-service-account: {{ .Values.serviceAccount.gcpServiceAccount }}@{{ .Values.projectId }}.iam.gserviceaccount.com
    {{- end }}
    {{- with .Values.serviceAccount.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
{{- end }}