image:
  repository: "" 
  tag: ""
  pullPolicy: IfNotPresent

replicaCount: 2

projectId: ""

serviceAccount:
  create: true
  name: "meme-maker-sa"
  gcpServiceAccount: "terraform-sa"
  annotations: {}

hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilization: 70
  targetMemoryUtilization: 80
  behavior:
    scaleUp:
      stabilizationWindowSeconds: 60
      policies:
      - type: Percent
        value: 100
        periodSeconds: 60
    scaleDown:
      stabilizationWindowSeconds: 300
      policies:
      - type: Percent
        value: 50
        periodSeconds: 60

secrets:
  discord_url: ""
  gcp_project_id: ""
  pubsub_subscription_id: ""
  redis_host: ""
  redis_port: 0
  redis_auth_string: ""

resources:
  requests:
    cpu: 400m
    memory: 800Mi
  limits:
    cpu: 400m
    memory: 1000Mi